 /*-------------------------------------------*\
 PRODUCT PAGE LAYOUT
 \*-------------------------------------------*/
 /**
 *  Page Container
 */
 .et_pb_section.et_pb_section_0_tb_body.et_section_regular {
   padding: 20px 0 !important;
 }

 /**
*  Product Gallery Thumbnails
*/
 .woocommerce-product-gallery {
   display: flex;
 }

 .woocommerce-product-gallery .flex-control-thumbs {
   order: -10;
 }

 .woocommerce div.product div.images .flex-control-thumbs li {
   width: 150px;
   padding-top: 0;
   padding-bottom: 5px;
 }

 .woocommerce div.product div.images .flex-control-thumbs li img {
   margin-bottom: 10px;
 }

 .woocommerce div.product div.images .flex-control-thumbs li img.flex-active, .woocommerce div.product div.images .flex-control-thumbs li img:hover {
   border-bottom: 2px solid #000;
 }

 ol.flex-control-nav.flex-control-thumbs {
   margin-right: 15px !important;
 }

 /**
*  Product Attributes - Variation display (no plugin)
*/
 .woocommerce div.product form.cart .variations {
   margin-bottom: 1.8em;
 }

 select#pa_couleur, select#pa_pointure {
   background-image: url(https://image.flaticon.com/icons/svg/25/25243.svg);
   background-position: 100% center;
   background-repeat: no-repeat;
   background-size: 10% 40%;
 }

 td.label:after {
   content: " :";
   font-size: .8em;
 }

 .et_pb_wc_add_to_cart form.cart .variations td.value span:after {
   display: none;
 }

 .woocommerce div.product form.cart .variations {
   margin: 10px 0 0 0;
 }

 .woocommerce-variation-price {
   padding: 10px 0;
   font-size: 1.3em;
   font-weight: 600;
 }

 .single .woocommerce-variation-price span.woocommerce-Price-amount.amount {
   color: red;
 }

 input#quantity_5e6636d8d3068 {
   border: 1px solid #000 !important;
 }

 /**
*  Product Attributes - Variation Table Design
*/
 tr.woocommerce-product-attributes-item.woocommerce-product-attributes-item--attribute_pa_pointure {
   background: #7b7b7b;
   color: white;
 }

 .woocommerce table.shop_attributes {
   border: none;
 }

 .woocommerce div.product form.cart .variations td.label {
   position: relative;
   top: 10px;
   width: 95px;
 }

 /**
*  Product Banner Sale
*/
 .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale {
   margin-top: 50px !important;
   background-color: red !important;
 }

 /**
*  Product (Information) Description Tabs
*/
 #tabbed {
   border: none !important;
 }

 ul.et_pb_tabs_controls {
   background-color: #fff !important;
   ;
   border-bottom: 1px solid #eee !important;
 }

 ul.et_pb_tabs_controls {
   display: flex;
   justify-content: center;
 }

 ul.et_pb_tabs_controls li {
   border: none;
 }

 ul.et_pb_tabs_controls li a {
   padding: 10px 30px;
   font-size: 16px;
   line-height: 26px;
   text-transform: uppercase;
 }

 .et_pb_tab_active {
   border-bottom: 1px solid #000 !important;
 }

 .et_pb_tab_content {
   padding: 5px 0;
   color: #000;
 }

 .et_pb_tab_content h2 {
   display: none;
 }

 .et_pb_tab_content p {
   font-size: 14px;
   line-height: 22px;
 }

 /**
*  Product WishList Button
*/
 .yith-wcwl-add-button {
   font-size: 1em;
   text-decoration: underline;
 }

 .yith-wcwl-add-button a {
   color: #000;
 }

 .yith-wcwl-wishlistaddedbrowse {
   font-size: 1em;
 }

 .yith-wcwl-wishlistaddedbrowse a {
   color: #000;
   text-decoration: underline;
 }

 /**
*  Woocommerce Notification
*/
 .woocommerce-message {
   font-size: 1em !important;
 }

 .woocommerce div.product form.cart .variations td.label {
   position: relative;
   top: 10px;
   width: 95px;
 }

 .dgwt-wcas-close:not(.dgwt-wcas-inner-preloader) {
   background-size: auto 10px;
 }

 /**
*  Button Design (Woocommerce)
*/
 a.button.wc-forward {
   font-size: 1em !important;
 }

 /**
 * Wishlist button Design
 */
 .yith-wcwl-wishlistexistsbrowse a {
   color: #000;
   text-decoration: underline;
   font-size: 1em;
 }

 .yith-wcwl-wishlistaddedbrowse .feedback {
   display: none;
 }

 .yith-wcwl-wishlistexistsbrowse .feedback {
   display: none;
 }

 a.disabled_item.single_ {
   color: #000 !important;
   text-decoration: underline !important;
 }