/*-------------------------------------------*\
GENERAL CSS
\*-------------------------------------------*/
/**
*  Woocommerce Error Message
*/
p.woocommerce-info {
  background: #cacacaca !important;
  color: #000 !important;
  font-size: 1em !important;
  margin: 50px;
  padding: 25px !important;
}

span.et_overlay {
  display: none !important;
}

/**
* Breadcrumbs
*/
div#breadcrumbs {
  display: none;
}

/* Back to top  */
.et_pb_scroll_top.et-pb-icon {
  background: #fff;
  border-radius: 9px;
  border: 1px solid #000;
  color: #000;
}

/*-------------------------------------------*\
    WOOCOMMERCE ARCHIVE PAGE / CATEGORY PAGE
\*-------------------------------------------*/
/**
* Above Product Loop
*/
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  float: left;
  margin-left: 1.3% !important;
}

.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
  float: right;
  margin-right: .5% !important;
}

select.orderby {
  font-family: 'Noto Sans KR', Helvetica, Arial, Lucida, sans-serif !important;
  width: 175px !important;
  font-size: .9em !important;
  padding: .5rem 2rem .5rem .75rem;
  color: #fff !important;
  letter-spacing: .01875rem;
  border: 1px solid #ccc;
  background: #000;
  border-radius: 0;
  text-align: left;
  text-transform: capitalize;
}

p.woocommerce-result-count {
  font-family: 'Noto Sans KR', Helvetica, Arial, Lucida, sans-serif !important;
  font-size: .75rem;
  color: #000;
}

/**
* Product Loop
*/
span.onsale {
  display: none;
}

.wobd-text-template-27 .wobd-text {
  left: -6px;
  bottom: -6px;
}

ul.products.columns-3 li.product span.et_shop_image img {
  width: 100% !important;
}

ul.products span.woocommerce-Price-amount.amount {
  font-size: 14px;
  color: #000000 !important;
  line-height: 1em;
}

span.woocommerce-Price-currencySymbol {
  left: -3px;
  position: relative;
}

ul.products li.product .price {
  line-height: 1em;
}

ul.products li.product .price ins .amount {
  font-family: 'Noto Sans KR', Helvetica, Arial, Lucida, sans-serif;
  font-weight: normal;
  color: #E02B20 !important;
}

.woocommerce ul.products li.product .price ins {
  margin-left: 5px;
}

.single a.button.quick-view-button.btn.button.btn-default.theme-button.theme-btn {
  display: none;
}

ul.products .attribute-size {
  color: #767676;
  font-size: 12px;
  line-height: 1em;
  display: block !important;
  opacity: 1 !important;
}

p.stock.in-stock {
  display: none;
}

ul.products .nobrd, ul.products .loop-brands, .single ul.products .nobrd, .single ul.products .loop-brands {
  font-size: 12px;
  color: #000;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
}

ul.products h2.woocommerce-loop-product__title {
  font-weight: 300;
  font-size: 13px !important;
  color: #000000 !important;
  font-family: inherit;
}

/* Home Page Shop Effect Fix*/
@media screen and (max-width: 400px) {
  .et-db #et-boc .et-l .et_pb_shop_0.et_pb_shop li.product {
    display: flex !important;
  }
}

@media screen and (min-width: 401px) {
  .et-db #et-boc .et-l .et_pb_shop_0.et_pb_shop li.product {
    display: flex !important;
  }
}

.et-db #et-boc .et-l .et_pb_shop_0.et_pb_shop li.product {
  padding: 15px;
  transition: all 0 cubic-bezier(0, .8, .25, 0);
  margin-right: 1.4em;
  margin-bottom: 1.4em;
  min-height: fit-content;
}

.et-db #et-boc .et-l .et_pb_shop_0.et_pb_shop li.product:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0), 0 20px 20px rgba(0, 0, 0, 0.1);
}

.et-db #et-boc .et-l .et_pb_shop_0.et_pb_shop li.product:first-child {
  margin-left: 5%;
}

/**
* Color Swatches
*/
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item) {
  box-shadow: 0 0 0 0px #fff !important;
}

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item) {
  margin: 4px;
}

.woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item, .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item .variable-item-span, .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item .variable-item-span:after, .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item img {
  border-radius: 0;
}

ul.variable-items-wrapper.color-variable-wrapper.wvs-catalog-variable-wrapper li:first-child {
  margin-left: 0 !important;
}

ul.variations {
  margin-bottom: 0 !important;
}

.variations_form.wvs-archive-variation-wrapper {
  opacity: 0;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
  box-shadow: none;
}

/**
* Filters Loop
*/
.prdctfltr_filter {
  padding: 10px 15px !important;
  margin-bottom: 10px !important;
}

.prdctfltr_filter.prdctfltr_product_cat.prdctfltr_attributes.prdctfltr_single.pf_adptv_default.prdctfltr_adoptive.prdctfltr_hierarchy.prdctfltr_drill.prdctfltr_text, .prdctfltr_filter.prdctfltr_rng_price.prdctfltr_range.pf_rngstyle_thin {
  border-bottom: 1px solid #ccc;
}

.pf_rngstyle_thin .irs-from, .pf_rngstyle_thin .irs-to, .pf_rngstyle_thin .irs-single {
  background: #000;
}

.prdctfltr_wc.prdctfltr_round .prdctfltr_filter label.prdctfltr_active>span:before {
  background: #777;
  border: 3px double #fff;
}

span.prdctfltr_title_selected {
  background: #fff;
  border: 1px solid #ababab;
  color: #ababab;
  font-size: .825em;
}

span.prdctfltr_title_selected:hover {
  background: #ababab
}

span.prdctfltr_title_selected:hover {
  color: #fff;
}

.prdctfltr_collector.prdctfltr_collector_flat {
  margin: 10px 0;
}

.prdctfltr-delete:before {
  color: red;
}

.prdctfltr_filter.prdctfltr_orderby.prdctfltr_text {
  display: none;
}

.prdctfltr_wc.prdctfltr_round .prdctfltr_filter label>span:before {
  border-radius: 0 !important;
  width: 12px;
  height: 12px;
}

.prdctfltr_wc.prdctfltr_round .prdctfltr_filter label.prdctfltr_active>span:before {
  border-radius: 0 !important;
}

span.prdctfltr_widget_title {
  font-size: 1.15em;
  color: #000;
  font-weight: 700;
  line-height: 1.5;
}

.prdctfltr_checkboxes label {
  font-size: .9em !important;
  font-weight: 500;
  color: #000;
}

.prdctfltr_search_terms {
  padding: 5px 5px 5px 0;
  border: 1px solid #ccc;
  width: 90%;
}

input.prdctfltr_search_terms_input.prdctfltr_reset_this {
  padding-left: 5px;
  font-size: .85em;
}

.prdctfltr-down:before {
  content: "\4c";
  font-family: 'ETmodules' !important;
  color: #ababab;
}

.prdctfltr-down:hover:before {
  color: #000;
}

.prdctfltr-up:before {
  content: "\4b";
  font-family: 'ETmodules' !important;
  color: #ababab;
}

.prdctfltr-up:hover:before {
  color: #000;
}

.prdctfltr_filter_inner .prdctfltr_terms_customized_select {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px !important;
  margin-bottom: 10px !important
}

.prdctfltr_buttons {
  display: flex;
  flex-wrap: wrap;
}

.prdctfltr_woocommerce_ordering .prdctfltr_sale span:before {
  color: red;
}

span.prdctfltr_sale {
  color: #000;
}

span.prdctfltr_instock {
  display: none !important;
}

/* FIX for Color Filter */
.prdctfltr_pa_couleur span.prdctfltr_customize_block.prdctfltr_customize {
  border: 0;
}

span.prdctfltr_customize_block.prdctfltr_customize {
  display: flex !important;
}

.prdctfltr_pa_couleur span.prdctfltr_customize_block.prdctfltr_customize:before {
  display: none !important;
}

span.prdctfltr_customize_block.prdctfltr_customize:before {
  display: none !important;
}

span.prdctfltr_customize_block.prdctfltr_customize span.prdctfltr_customization_search {
  display: block;
  padding: 0 5px;
}

span.prdctfltr_customize_color {
  border-radius: 50%;
}

span.prdctfltr_customize_block.prdctfltr_customize span.prdctfltr_customize_color:hover {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
}

/**
*   Quickview Plugin
*/
a.button.quick-view-button.btn.button.btn-default.theme-button.theme-btn {
  opacity: 0;
  margin: 0;
  position: relative;
  margin: auto;
  font-size: 0.9em !important;
  margin-top: -25px;
  padding: .35em 1.7em;
  transform: translateY(-20px);
  text-transform: uppercase;
}

a.button.quick-view-button.btn.button.btn-default.theme-button.theme-btn:hover {
  padding: .35em 1.7em;
  opacity: 1 !important;
}

.woocommerce a.button:after {
  display: none;
}

.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
  display: flex;
}

tr td.label {
  display: none;
}

.quantity {
  display: inline;
}

span.variable-item-span.variable-item-span-button {
  font-size: 1em;
}

button.single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed {
  height: 100%;
  transform: translate(-10px, 5px);
}

a.reset_variations {
  display: block !important;
  margin: 10px 0px;
  color: #ababab;
}

a.reset_variations:hover {
  color: #000;
}

.quick-view-modal.quickviewmodal ::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.woocommerce-quick-view-price del span.woocommerce-Price-amount.amount {
  font-size: .8em;
  color: #666;
}

.woocommerce-quick-view-price ins>span {
  color: red !important;
}

.woocommerce-quick-view-rating .star-rating span:before {
  color: red;
}

h1.woocommerce-quick-view-title {
  color: #000;
  text-transform: capitalize;
  font-family: inherit;
}

.woocommerce-quick-view-short-description {
  font-size: .825em;
  color: #000;
}

.woocommerce-quick-view-sku {
  color: #000;
}

/**
*  Pagination
*/
span.button.disabled {
  display: none;
}

nav.woocommerce-pagination.prdctfltr-pagination.prdctfltr-pagination-load-more a:hover {
  font-weight: 500;
  padding: .3em 1em;
  line-height: 1.7em !important;
  background: #000 !important;
  position: relative;
  color: #fff !important;
}

/**
* Page Spacing & Dimensions
*/
.archive .woocommerce.columns-3 {
  width: 103%;
}

.archive p.woocommerce-result-count {
  position: relative;
  left: -5%;
}

/*Page Dimension */
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.archive ul.products li.product {
  margin-right: 0px !important;
}

.flex-row {
  display: flex !important;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

@media screen and (min-width: 720px) {
  .flex-col-1 {
    flex: 0 1 auto !important;
    margin: 5px !important;
    width: 25% !important
  }

  .flex-col-2 {
    flex: 0 1 auto !important;
    margin: 5px !important;
    width: 75% !important
  }

  .flex-col-2 ul.products.columns-4,
  .flex-col-2 ul.products.columns-3 {
    width: 104% !important;
  }

  .woocommerce.columns-3 {
    width: 105% !important;
  }

  ul.products.columns-3 {
    position: relative;
    top: -10px;
  }

  p.woocommerce-result-count {
    margin-right: 5% !important;
  }
}

@media screen and (max-width: 480px) {
  .flex-col-1 {
    display: none;
  }

  .flex-col-2 {
    width: 100% !important;
  }
}

/* Collapsible SideBar */
#cbx-filter {
  margin-top: -33px !important;
}

.full {
  width: 100% !important;
}

#colps {
  margin-bottom: 0 !important;
}

form.woocommerce-ordering {
  display: flex;
}

.archive select.orderby {
  margin-left: 15px;
}

button#filter-collapse {
  width: 100%;
  border: 1px solid #ccc;
  background: #000;
  color: #fff;
  font-family: 'Noto Sans KR', Helvetica, Arial, Lucida, sans-serif !important;
  font-size: .9em !important;
  padding: .5rem 2rem .5rem .75rem;
  letter-spacing: .01875rem;
  border-radius: 0;
  text-align: left;
}

button#filter-collapse:after {
  content: "\43";
  font-family: 'ETModules';
  padding: 0 5px;
  position: absolute;
  top: 1.9vh;
  right: 0.6vw;
}

/* Small fix for sort by */
.woocommerce-ordering select {
  -webkit-appearance: none;
}

.woocommerce-ordering::after {
  content: "\43";
  font-family: "ETModules";
  position: relative;
  top: 9px;
  left: -24px;
  color: #fff;
  pointer-events: none
}

/* Fix for color Swatches display issue */
ul.products.columns-3 li {
  display: flex;
  flex-direction: column;
}

body.archive {
  overflow-x: hidden;
}