 /*-------------------------------------------*\
 GENERAL CSS
 \*-------------------------------------------*/
 /**
 * Woocommerce Error Message
 */
 .pl-title {
   font-weight: 500;
   font-style: normal;
   font-size: 1.2em;
   letter-spacing: .1em;
   line-height: 22px;
   text-transform: uppercase;
 }

 /*-------------------------------------------*\
    WOOCOMMERCE ARCHIVE PAGE / CATEGORY PAGE
    \*-------------------------------------------*/
 /* Fix Shop Loop Display  */
 ul.products li {
   display: flex;
   flex-direction: column;
 }

 /**
    * Above Product Loop
    */
 /*** PRODUCT FILTERS *****/
 .prdctfltr_filter_inner .prdctfltr_filter {
   display: none;
 }

 span.prdctfltr_showing {
   float: left;
   text-transform: uppercase;
   color: #000;
   letter-spacing: -.5px;
 }

 .prdctfltr_filter_inner .prdctfltr_filter {
   width: fit-content !important;
   padding: 0;
 }

 span.prdctfltr_regular_title {
   border: 0 !important;
   font-size: 1em;
   letter-spacing: .1em;
   color: #21b2f8 !important;
 }

 .prdctfltr_filter_inner .prdctfltr_filter::after {
   content: "";
   background: #ccc;
   height: 14px;
   width: 1px;
   position: absolute;
   top: 17px;
   right: 2px;
 }

 .prdctfltr_add_scroll {
   min-width: 20vw !important;
 }

 .prdctfltr_checkboxes label span {
   font-size: 1em !important;
   font-weight: 400;
 }

 .prdctfltr_filter label {
   font-size: 13px;
   line-height: 22px;
 }

 .prdctfltr_wc .prdctfltr_buttons {
   margin-bottom: 0;
 }

 .prdctfltr_buttons {
   float: right;
 }

 .prdctfltr_collector.prdctfltr_collector_border {
   display: flex;
   justify-content: flex-end;
 }

 span.prdctfltr_selected_title {
   font-weight: 600;
   text-transform: capitalize;
   letter-spacing: .1em;
 }

 .prdctfltr_collector_border>span {
   border-radius: 0;
 }

 span.prdctfltr_regular_title {
   padding: 11px 0px;
   width: fit-content !important;
 }

 .pf_select .prdctfltr_filter .prdctfltr_regular_title {
   padding-right: 34px !important;
 }

 .prdctfltr_wc.prdctfltr_woocommerce.pf_select i.prdctfltr-down,
 .prdctfltr_wc.prdctfltr_woocommerce.pf_select i.prdctfltr-up {
   top: 10px;
 }

 span.prdctfltr_woocommerce_filter_title {
   display: none;
 }

 .prdctfltr_showing:before {
   display: none;
 }

 .btn-container {
   margin: 10px 0;
   position: relative;
   left: 15px;
 }

 a#loadMore {
   color: #ccc;
   font-size: 1em;
   font-weight: 400;
   border: 1px solid #ccc;
   padding: .35em .875em;
   letter-spacing: .1em;
 }

 a#loadMore:hover {
   color: #000;
   border-color: #000;
 }

 span.prdctfltr_instock {
   display: none !important;
 }

 span.prdctfltr_sale {
   color: #c8754e;
 }

 span.prdctfltr_sale>label>span {
   text-decoration: underline;
 }

 .prdctfltr_wc.prdctfltr_woocommerce.woocommerce.prdctfltr_wc_regular.pf_select.prdctfltr_always_visible.prdctfltr_click_filter.prdctfltr_checkbox.prdctfltr_search_fields.prdctfltr_hierarchy_lined.prdctfltr_adoptive_reorder.pf_mod_multirow.prdctfltr_scroll_default {
   margin-bottom: 10px;
 }

 /**
    * Product Loop
    */
 span.onsale {
   display: none;
 }

 ul.products h2.woocommerce-loop-product__title {
   color: #000;
   font-weight: 400;
   text-align: left;
   font-size: 16px !important;
   line-height: 1.3;
   padding: 0 !important;
   text-transform: capitalize;
 }

 ul.products span.price {
   text-align: left;
   line-height: 1;
   padding-top: 5px;
 }

 ul.products span.woocommerce-Price-amount.amount {
   color: #000 !important;
   font-weight: 700;
   letter-spacing: .1em;
   font-size: 16px;
   line-height: 1.5;
 }

 span.woocommerce-Price-currencySymbol {
   left: -5px;
   position: relative;
 }

 ul.products .loop-brands,
 ul.products .nobrd {
   text-align: left;
   color: #757575;
   font-size: 12px;
   text-transform: uppercase;
   font-weight: 400;
   letter-spacing: 1.5px;
 }

 ul.products .content {
   font-size: .95em;
   color: #000;
   font-style: italic;
 }

 ul.products .content span {
   font-style: normal;
 }

 span.button.disabled {
   display: none;
 }

 .archive .star-rating {
   top: 2px;
 }

 .woocommerce .star-rating span::before {
   color: #D4AF37;
 }

 /* Out of Stock */
 p.stock.out-of-stock {
   position: absolute;
   top: 5px;
   left: 5px;
   color: red;
   font-weight: 700;
   font-style: italic;
   background: yellow;
   padding: 0 .5em;
 }

 p.out-of-stock-sg {
   padding-top: 25px;
   font-size: 1.6em;
   color: red;
   font-style: italic;
 }

 /* Remove Instock notice*/
 p.stock.in-stock {
   display: none;
 }

 /**
  * QuickView Loop
  */
 a.button.quick-view-button.btn.button.btn-default.theme-button.theme-btn {
   margin: 0;
   font-size: 1em !important;
   width: 100%;
   text-align: center;
   text-transform: uppercase;
   opacity: 0;
   background: #000;
   color: #fff;
 }

 .archive.woocommerce a.button:hover {
   background: #fff !important;
   color: #000 !important;
 }

 .archive.woocommerce a.button {
   background: #000;
   color: #fff;
 }

 /**
    * Color Attributes Swatch
    */
 /* Position */
 .variations_form.wvs-archive-variation-wrapper {
   position: absolute;
   left: 10px;
 }

 ul.variable-items-wrapper.color-variable-wrapper.wvs-catalog-variable-wrapper {
   margin-top: -10px;
 }

 .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item,
 .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item .variable-item-span,
 .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item .variable-item-span:after,
 .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item img {
   border-radius: 0;
 }

 span.variable-item-span.variable-item-span-color {
   height: 10px !important;
 }

 li.variable-item.color-variable-item {
   height: 12px !important;
   width: 45px !important;
 }

 .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item,
 .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item .variable-item-span,
 .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item .variable-item-span:after,
 .woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item img {
   border-radius: 0;
 }

 span.variable-item-span.variable-item-span-color {
   height: 10px !important;
 }

 li.variable-item.color-variable-item {
   height: 12px !important;
   width: 45px !important;
 }

 .woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected {
   box-shadow: 0 0 0 1px #000 !important;
   padding: 0;
 }

 li.variable-item.image-variable-item {
   width: 40px !important;
   height: 50px !important;
 }

 ul.variable-items-wrapper {
   padding: 14px 0 0 0 !important;
   justify-content: flex-start;
 }

 /* Button Load More products */
 nav.woocommerce-pagination.prdctfltr-pagination.prdctfltr-pagination-load-more {
   display: flex;
   justify-content: flex-end;
 }

 nav.woocommerce-pagination a.button {
   border-radius: 50% !important;
 }

 /**
    * Side bar Loop
    */
 .et_pb_module.et_pb_sidebar_0_tb_body.et_pb_widget_area.clearfix.et_pb_widget_area_left.et_pb_bg_layout_light {
   border-right: 0 !important;
 }

 .cat-title {
   display: none;
 }

 ul.product-categories>li.level1-child>a {
   font-size: .9em !important;
   text-transform: uppercase;
   line-height: 1;
   font-style: normal;
   letter-spacing: .1em;
   color: #000 !important;
 }

 ul.product-categories>li.level1-child {
   margin: 25px 0 0px 0 !important;
 }

 ul.product-categories>li.level1-child:first-child {
   margin-top: 0 !important;
 }

 .et-db #et-boc .et-l .et_pb_widget ul li {
   margin-bottom: 3px;
   margin-left: 0;
 }

 li.level2-child.cat-item a:before {
   display: none;
 }

 li.level2-child.cat-item {
   padding-left: 20px;
 }

 li.level2-child.cat-item a {
   font-size: .85em !important;
   letter-spacing: .1em;
   color: #000 !important;
   text-transform: none;
   line-height: 15px;
 }

 li.level2-child.cat-item a:hover {
   font-weight: 700 !important;
 }

 /* Catalog Page Dimension */
 .flex-row {
   display: flex !important;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   align-content: flex-start;
 }

 @media screen and (min-width: 720px) {
   .flex-col-1 {
     flex: 0 1 auto !important;
     margin: 5px !important;
     width: 18% !important
   }

   .flex-col-2 {
     flex: 0 1 auto !important;
     margin: 5px !important;
     width: 82% !important
   }

   .flex-col-2 ul.products.columns-4,
   .flex-col-2 ul.products.columns-3 {
     width: 100% !important;
   }
 }

 @media screen and (max-width: 480px) {
   .flex-col-1 {
     display: none;
   }

   .flex-col-2 {
     width: 100% !important;
   }
 }

 /* Quickview Button Style On Loop */
 .woocommerce a.button:hover, .woocommerce.et-db #et-boc .et-l a.button:hover, .woocommerce-page a.button:hover, .woocommerce-page.et-db #et-boc .et-l a.button:hover {
   font-size: 16px;
   background-color: rgba(255, 255, 255, 0.97) !important;
   border: 1px solid #000 !important;
   color: #000 !important;
 }

 .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):hover {
   box-shadow: none;
 }

 li.variable-item.image-variable-item {
   width: 30px !important;
   height: 40px !important;
 }

 .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
   box-shadow: 0 0 2px 1px #21b2f8;
 }

 .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
   box-shadow: none;
   padding: 1px;
 }

 .prdctfltr_woocommerce_ordering .prdctfltr_sale span:before {
   content: '\f003';
   font-family: 'prdctfltr';
   vertical-align: middle;
   font-size: 24px;
   line-height: 20px;
   margin-right: 2px;
   width: 24px;
   display: inline-block;
   text-align: center;
   color: #21b2f8;
 }

 form.prdctfltr_woocommerce_ordering .prdctfltr_buttons span.prdctfltr_sale:hover span {
   color: #21b2f8;
 }

 .woocommerce a.button:hover, .woocommerce.et-db #et-boc .et-l a.button:hover, .woocommerce-page a.button:hover, .woocommerce-page.et-db #et-boc .et-l a.button:hover {
   font-size: 16px;
   background-color: rgba(255, 255, 255, 0.97) !important;
   border: 1px solid #000000 !important;
   color: #03A9F4 !important;
 }

 .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
   /* margin-bottom: 1%; */
   margin-bottom: 5%;
 }

 ul.variations {
   padding-bottom: 0 !important;
   margin-bottom: 7px !important;
 }

 li.level2-child.cat-item a:hover {
   color: #2196f3 !important;
   font-weight: 500 !important;
 }

 ul.product-categories li.level1-child {
   font-weight: 800;
 }